{% extends 'civilengineering/index.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

<div class="container mt-5 text-light">

    <h1 class="text-danger">Privacy Policy</h1>

    <p>
        We respect your privacy. MovieFlix may use cookies,
        analytics tools, and advertising services such as Google AdSense.
    </p>

    <p>
        Third-party vendors, including Google, may use cookies
        to serve ads based on previous visits.
    </p>

    <p>
        By using this website, you agree to our privacy practices.
    </p>

</div>

{% endblock %}